go 1.23.1

use (
    .
    ./middleware/circuitbreaker
    ./middleware/ratelimit
    ./middleware/retry
    ./middleware/rediscache
    ./middleware/cookie
    ./middleware/header
    ./middleware/proxy
    ./middleware/singleflight
)