go 1.25.0

use (
	.
	./middleware/circuitbreaker
	./middleware/cookie
	./middleware/header
	./middleware/proxy
	./middleware/ratelimit
	./middleware/redis
	./middleware/retry
	./middleware/singleflight
)
